a:link {
  text-decoration: none;
  color: #6e726e;
}


a:visited {
  text-decoration: none;
  color: #6e726e;
}


a:hover {
  text-decoration: none;
  color: #6e726e;
}

div {
  outline: auto;
  outline-color: #6e726e;
}
nav {
  background-color: #424442;
  color: #6e726e;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem;

}

nav a {
  color: #6e726e;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

nav img {
  width: 200%;
  height: 200%;
  margin-bottom: 0.5rem;
}
